*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box       ;
}
nav{
  background-color: #ffffff;
padding: 20px;
position: fixed;
width: 100%;
/* height: 44px;  */
}
nav  .toggle{
  width: 100%;
 padding: 10px 20px; 
  background-color: white; 
  text-align: right; 
  box-sizing: border-box; 
  font-size: 30px;
  display: none;
}
nav .join {
background-color:  #E1F0E0  ;
border: 2px solid #C0EEBD;
padding: 8px 24px;
margin: 0 11px 0 80%;  
display:inline-block;
border-radius: 9px; 

}


nav .join a{
  color: #52A350;
  text-decoration: none;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 24px;
  font-family: sans-serif;
   text-align: center; 
}
.container{
  /* min-width: 100vh; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;

}
.left{
  width: 400px;
/* height: 600px;
   margin: 20px 23px;
  text-align: left; */

}
 .left h1{
  width: 550px;
  font-weight: 800;
  font-size: 51px;
  color: #52A350;
  margin-bottom: 15px;
  line-height: 60px;
  font-family: "GD boing", sans-serif;
  
 }  
 .left p{
font-size: 14px;
color: #08386D;
letter-spacing: 1px;
line-height: 23px;
margin-bottom: 20px;
}
img{
  width: 451px ;
  height: 450px; 
 }
 /* .left form p{
  color: #242424;
  font-size: 15px;

 } */
 form p{
    background-color: white;
    position: absolute;
    margin-left: 15px;
    margin-top: -16px;
    font-weight: 600;
    font-size: 13px;
    padding: 7px;
    font-family: 'Nunito', sans-serif;
}
  form p.ptag{
    color: #52a350;
  }
 form input.user{
  display: block;
     width: 100%;
     padding: 17px 10px;
    font-size: 1rem;
    border: 1px solid #52a350;
    color: #52a350;
    border-radius:15px;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    line-height: 1.5;
    font-weight: 400;
    }
    form .userlogin{
      width: 100%;
      padding: 17px 10px;
     font-size: 20px;
     border: 1px solid #52a350;
     color: white;
      background-color: #52a350; 
     border-radius:15px;
     text-align: center;
    }
     .text2{
    text-align: center;
    width: 423.222px
    } 
    .forget{
    color: #858585;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    line-height: 30px;
  }
  .text2 h5{
    color: #808080;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
  }
  .enter{
    color: #52a350;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }
  @media screen  and (max-width: 990px) {
nav .toggle {
  display: block;
}
nav .join {
  background-color:  #E1F0E0  ;
  border: 2px solid #C0EEBD;
  /* padding: 8px 24px; */
  margin: 0 11px 0 0%;  
  display:none;
  border-radius: 9px; 
  
  }
.active{
  display: block;
}
  }



